<div class="card shadow-sm mb-4">
  <div class="card-header">
    <h5>Registrar Movimiento de Bodega</h5>
  </div>
  <div class="card-body">
    <div class="row g-3">

      <div class="col-md-2">
        <select name="tipo" class="form-select" required>
          <option value="" disabled selected>Tipo</option>
          <option value="Entrada">Entrada</option>
          <option value="Salida">Salida</option>
        </select>
      </div>

      <div class="col-md-5"></div>
    </div>
  </div>
</div>